desktop.ini
/2. Latihan/Pertemuan6/JavaApplication2/nbproject/private/
/2. Latihan/Pertemuan6/JavaApplication2/build/
/2. Latihan/Pertemuan6/Negara/nbproject/private/
/2. Latihan/Pertemuan6/Negara/build/