desktop.ini
/2. Latihan/Pertemuan6/JavaApplication2/nbproject/private/
/2. Latihan/Pertemuan6/JavaApplication2/build/
/2. Latihan/Pertemuan6/Negara/nbproject/private/
/2. Latihan/Pertemuan6/Negara/build/
/2. Latihan/Pertemuan6/Exception/nbproject/private/
/2. Latihan/Pertemuan7/Exception/build/
/2. Latihan/Pertemuan7/Thread/nbproject/private/
/2. Latihan/Pertemuan7/GUI/nbproject/private/
/2. Latihan/Pertemuan8/Number Addition Application/nbproject/private/
/2. Latihan/Pertemuan8/NumberAddition/nbproject/private/
/2. Latihan/Pertemuan8/NumberAddition/build/
/2. Latihan/Pertemuan8/NumberAddition/dist/
/2. Latihan/Pertemuan9/PenentuNilaiMahasiswa/nbproject/private/
/2. Latihan/Pertemuan9/PenentuNilaiMahasiswa/dist/
/2. Latihan/Pertemuan9/PenentuNilaiMahasiswa/build/